<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="https://slimseun.com/js/vendor/angular-gridster/angular-gridster.min.css">

</head>

<body ng-app="musicCollab" ng-cloak>
    <div ng-controller="AppCtrl" ng-cloak>




        <!-- Play Forward Rewind -->
        <md-grid-list md-cols-xs="3" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="2:1" md-row-height="1:1" md-gutter="12px" md-gutter-gt-sm="1px">

            <md-grid-tile class="white">
                <ng-md-icon icon="fast_rewind" style="fill: pink" size="100"></ng-md-icon>
            </md-grid-tile>

            <md-grid-tile class="white">
                <ng-md-icon icon="play_circle_outline" style="fill: pink" size="100" ng-click="playAudio()"></ng-md-icon>
            </md-grid-tile>

            <md-grid-tile class="white">
                <ng-md-icon icon="fast_forward" style="fill: pink" size="100"></ng-md-icon>
            </md-grid-tile>



        </md-grid-list>


        <md-slider-container style="margin: 30px;" flex>
            <md-input-container>
                <input flex type="number" ng-model="vol" aria-label="tempo" aria-controls="volume-slider">
            </md-input-container>
            <md-slider ng-model="vol" min="0.5" max="4" aria-label="tempo" id="volume-slider" class="md-accent" md-horizontol md-range></md-slider>
            <h5>Tempo</h5>
        </md-slider-container>
        <!-- Block Layers -->
        <md-content ng-repeat="layer in layers track by $index" md-theme="docs-dark" layout="row" layout-align="center center" layout-padding>
            <div layout="column" layout-align="center center" flex="10" style="margin: 10px;">
                <ng-md-icon icon="keyboard_arrow_up" ng-click="voteUp($index)" ng-style="layer.votedUp && {'fill': 'pink'}"></ng-md-icon>
                <md-button class="md-icon-button md-primary" aria-label="Settings">{{layer.votes}}</md-button>
                <ng-md-icon icon="keyboard_arrow_down" ng-click="voteDown($index)" ng-style="layer.votedUp != null && !layer.votedUp && {'fill': 'pink'}" style="margin-top: 4px;"></ng-md-icon>
            </div>
            <md-grid-list flex="90" md-cols-xs="{{noBlocksInLayer}}" md-cols-sm="{{noBlocksInLayer}}" md-cols-md="{{noBlocksInLayer}}" md-cols-gt-md="{{noBlocksInLayer}}" md-row-height-gt-md="1.5:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="1px">
                <md-grid-tile ng-repeat="block in layer.blocks track by $index" ng-class="block">
                </md-grid-tile>
            </md-grid-list>
        </md-content>

        <div gridster="gridsterOpts" style="background:darkred" ng-if="justAdded==true">
            <ul>
                <li gridster-item="item" ng-repeat="block in currentLayer.blocks track by $index" ng-class="block">
                    <div class="ddd" style="width:70%; background:black; padding: 10px 0px"></div>
                </li>
            </ul>
        </div>

        <!-- Add/Submit Button -->
        <ng-md-icon icon="add_circle_outline" style="fill: pink" size="100" layout="row" layout-align="center" ng-if="justAdded==false" ng-click="addLayer()"></ng-md-icon>
        <ng-md-icon icon="file_upload" style="fill: pink" size="100" layout="row" layout-align="center" ng-if="justAdded==true" ng-click="submitLayer()"></ng-md-icon>

    </div>


    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>


    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>

    <!-- Grid Stuff -->
    <script src="https://slimseun.com/js/vendor/angular-gridster/angular-gridster.min.js"></script>

    <!-- Your application bootstrap  -->
    <script type="text/javascript">
        var musicCollab = angular.module('musicCollab', ['ngMaterial', 'ngMdIcons', 'ngResource', 'gridster']);

        musicCollab.factory("Increment_Vote", function($resource) {
            return $resource('/api/:layerid/vote/increment', {
                layerid: '@layerid'
            });
        });

        musicCollab.factory("Decrement_Vote", function($resource) {
            return $resource('/api/:layerid/vote/decrement', {
                layerid: '@layerid'
            });
        });

        musicCollab.factory("Layers", function($resource) {
            return $resource('/api/layers')
        });

        musicCollab.factory("Upload_Layer", function($resource) {
            return $resource('/api/upload/layer')
        });
        musicCollab.controller('AppCtrl', function($scope, $log, $mdDialog, $q, $mdToast, Increment_Vote, Decrement_Vote, Layers, Upload_Layer) {
            $scope.showPop = true;
            $scope.splitFactor = 5;
            $scope.vol = 1;
            $scope.noBlocksInLayer = 9;
            $scope.justAdded = false;
            $scope.layers = [];
            $scope.currentLayer = null;

            $scope.init = function() {
                Layers.query(function(response) {
                    for (var i = 0; i < response.length; i++) {
                        var sound;
                        for (var j = 0; j < response[i].notes.length; j++) {
                            var note = response[i].notes[j];
                            if (note == "silent") {
                                sound = new Audio('audio/silent.wav');
                            };
                            if (note == 'c') {
                                sound = new Audio('audio/c.wav');
                            };
                            if (note == 'c#') {
                                sound = new Audio('audio/csharp.wav');
                            };
                            if (note == 'd') {
                                sound = new Audio('audio/d.wav');
                            };
                            if (note == 'd#') {
                                sound = new Audio('audio/dsharp.wav');
                            };
                            if (note == 'e') {
                                sound = new Audio('audio/e.wav');
                            };
                            if (note == 'f') {
                                sound = new Audio('audio/f.wav');
                            };
                            if (note == 'f#') {
                                sound = new Audio('audio/fsharp.wav');
                            }
                            if (note == 'g') {
                                sound = new Audio('audio/g.wav');
                            }
                            if (note == 'g#') {
                                sound = new Audio('audio/gsharp.wav');
                            }
                            if (note == 'a') {
                                sound = new Audio('audio/a.wav');
                            }
                            if (note == 'a#') {
                                sound = new Audio('audio/asharp.wav');
                            }
                            if (note == 'b') {
                                sound = new Audio('audio/b.wav');
                            }
                            response[i].notes[j] = sound;
                        }
                    }
                    $scope.layers = response;
                });
            }
            $scope.init();


            $scope.gridsterOpts = {
                minRows: 1, // the minimum height of the grid, in rows
                maxRows: 1,
                columns: $scope.noBlocksInLayer * $scope.splitFactor, // the width of the grid, in columns
                colWidth: 'auto', // can be an integer or 'auto'.  'auto' uses the pixel width of the element divided by 'columns'
                rowHeight: '100', // can be an integer or 'match'.  Match uses the colWidth, giving you square widgets.
                margins: [10, 1], // the pixel distance between each widget
                defaultSizeX: $scope.splitFactor, // the default width of a gridster item, if not specifed
                defaultSizeY: 1, // the default height of a gridster item, if not specified
                mobileBreakPoint: 1, // if the screen is not wider that this, remove the grid layout and stack the items
                pushing: false,
                swapping: true,
                resizable: {
                    enabled: true,
                    start: function(event, uiWidget, $element) {}, // optional callback fired when resize is started,
                    resize: function(event, uiWidget, $element) {}, // optional callback fired when item is resized,
                    stop: function(event, uiWidget, $element) {} // optional callback fired when item is finished resizing
                },
                draggable: {
                    enabled: true, // whether dragging items is supported
                    handle: '.ddd', // optional selector for resize handle
                    start: function(event, uiWidget, $element) {}, // optional callback fired when drag is started,
                    drag: function(event, uiWidget, $element) {}, // optional callback fired when item is moved,
                    stop: function(event, uiWidget, $element) {
                        $scope.showPop = true;
                    } // optional callback fired when item is finished dragging
                }
            };

            $scope.increaseSplitFactor = function() {
                if ($scope.splitFactor != 5) {
                    $scope.splitFactor++;
                    $scope.updateGrid();
                }
            }
            $scope.decreaseSplitFactor = function() {
                if ($scope.splitFactor != 1) {
                    $scope.splitFactor--;
                    $scope.updateGrid();
                }
            }

            $scope.updateColumns = function() {
                $scope.gridsterOpts.columns = $scope.noBlocksInLayer * $scope.splitFactor;
            }

            <!-- Submits a layer of blocks(changes can no longer be made) -->
            $scope.addLayer = function() {
                var blocks = new Array($scope.noBlocksInLayer);
                var notes = new Array($scope.noBlocksInLayer);
                var notesNames = new Array($scope.noBlocksInLayer);
                for (var i = 0; i < blocks.length; i++) {
                    blocks[i] = "red";
                    notes[i] = new Audio('audio/silent.wav');
                    notesNames[i] = "silent";
                }
                $scope.currentLayer = {
                    blocks: blocks,
                    notes: notes,
                    notesNames: notesNames,
                    votedUp: null,
                    votes: 0
                };

                $scope.justAdded = true;
            };

            $scope.submitLayer = function() {
                $scope.layers.push($scope.currentLayer);
                $scope.justAdded = false;
                Upload_Layer.save({}, {
                    blocks: $scope.currentLayer.blocks,
                    notes: $scope.currentLayer.notesNames,
                }).$promise.then(function() {
                    $mdToast.show(
                        $mdToast.simple()
                        .textContent("Succesfully Added")
                        .position("bottom")
                        .hideDelay(3000)
                    );
                    $scope.currentLayer = null;
                    $scope.init();
                });
            }


            $scope.voteUp = function(index) {
                if ($scope.layers[index].votedUp == null) {
                    $scope.layers[index].votes++;
                    Increment_Vote.get({
                        layerid: $scope.layers[index]._id
                    });
                    $scope.layers[index].votedUp = true;
                } else if (!$scope.layers[index].votedUp) {
                    $scope.layers[index].votes++;
                    $scope.layers[index].votes++;
                    Increment_Vote.get({
                        layerid: $scope.layers[index]._id
                    });
                    Increment_Vote.get({
                        layerid: $scope.layers[index]._id
                    });
                    $scope.layers[index].votedUp = true;
                } else if ($scope.layers[index].votedUp) {
                    $scope.layers[index].votes--;
                    $scope.layers[index].votedUp = null;
                    Decrement_Vote.get({
                        layerid: $scope.layers[index]._id
                    });
                }
            }

            $scope.voteDown = function(index) {
                if ($scope.layers[index].votedUp == null) {
                    $scope.layers[index].votes--;
                    Decrement_Vote.get({
                        layerid: $scope.layers[index]._id
                    });
                    $scope.layers[index].votedUp = false;
                } else if ($scope.layers[index].votedUp) {
                    $scope.layers[index].votes--;
                    $scope.layers[index].votes--;
                    Decrement_Vote.get({
                        layerid: $scope.layers[index]._id
                    });
                    Decrement_Vote.get({
                        layerid: $scope.layers[index]._id
                    });
                    $scope.layers[index].votedUp = false;
                } else if (!$scope.layers[index].votedUp) {
                    $scope.layers[index].votes++;
                    $scope.layers[index].votedUp = null;
                    Increment_Vote.get({
                        layerid: $scope.layers[index]._id
                    });
                }
            }

            $scope.playAudio = function() {
                if ($scope.layers) {
                    for (var i = 0; i < $scope.layers.length; i++) {
                        for (var j = 0; j < $scope.layers[i].notes.length; j++) {
                            $scope.layers[i].notes[j].playbackRate = $scope.vol;
                        }
                    }
                }

                if ($scope.currentLayer) {
                    for (var i = 0; i < $scope.currentLayer.notes.length; i++) {
                        $scope.currentLayer.notes[i].playbackRate = $scope.vol;
                    }
                }

                var queries = [];
                var currentBlock = 0;
                queries = $scope.addToQueries(queries, currentBlock);
                $scope.runQueries(queries, currentBlock);
            };


            $scope.runQueries = function(queries, currentBlock) {
                $q.all(queries).then(function() {
                    currentBlock++;
                    if (currentBlock < $scope.noBlocksInLayer) {
                        queries = [];
                        queries = $scope.addToQueries(queries, currentBlock);
                        $scope.runQueries(queries, currentBlock);
                    }
                });
            }

            $scope.addToQueries = function(queries, index) {
                if ($scope.layers) {
                    for (var i = 0; i < $scope.layers.length; i++) {
                        queries.push(runSound($scope.layers[i].notes[index]));
                    }
                }
                if ($scope.currentLayer) {
                    queries.push(runSound($scope.currentLayer.notes[index]));
                }
                return queries;
            }

            function runSound(sound) {
                var d = $q.defer();
                sound.play();
                sound.addEventListener('ended', function() {
                    d.resolve();
                });
                return d.promise;
            }


            $scope.showTabDialog = function(ev, index) {
                if ($scope.showPop) {
                    $mdDialog.show({
                            controller: editBlockController,
                            locals: {
                                currentLayer: $scope.currentLayer,
                                index: index
                            },
                            templateUrl: '/html/editBlock.html',
                            parent: angular.element(document.body),
                            targetEvent: ev,
                            clickOutsideToClose: false
                        })
                        .then(function(response) {
                            $scope.currentLayer.blocks[index] = response.color;
                            $scope.currentLayer.notes[index] = response.sound;
                            $scope.currentLayer.notesNames[index] = response.notesName;
                        });
                };
            }
        });




        <!-- Controller for edit block popup -->
        function editBlockController($scope, $mdDialog, currentLayer, index) {
            $scope.currentLayer = currentLayer;
            $scope.index = index;
            $scope.color = "red";
            $scope.notesName = "silent";

            $scope.init = function() {
                if ($scope.currentLayer.blocks[$scope.index] != 'red') {
                    $scope.color = $scope.currentLayer.blocks[$scope.index];
                    $scope.notesName = $scope.currentLayer.notes[$scope.index];
                }
            }
            $scope.init();

            $scope.select = function(color, notesName) {
                if ($scope.color != color && color != 'brown') {
                    $scope.color = color;
                    $scope.notesName = notesName;
                    $scope.getAudio(notesName).play();
                } else if (color != 'brown') {
                    $scope.color = "red";
                    $scope.notesName = "silent";
                } else {
                    var customSound = document.getElementById('soundFile');
                    temp.addEventListener('change', function() {;
                        console.log('done');
                    });
                }
            };
            $scope.cancel = function() {
                $mdDialog.cancel();
            };

            $scope.save = function() {
                var audio = $scope.getAudio($scope.notesName);
                $mdDialog.hide({
                    color: $scope.color,
                    sound: $scope.getAudio($scope.notesName),
                    notesName: $scope.notesName
                });
            };

            $scope.getAudio = function(notesName) {
                var sound;
                if ($scope.notesName == 'silent') {
                    sound = new Audio('audio/silent.wav');
                } else if ($scope.notesName == 'c') {
                    sound = new Audio('audio/c.wav');
                } else if ($scope.notesName == 'c#') {
                    sound = new Audio('audio/csharp.wav');
                } else if ($scope.notesName == 'd') {
                    sound = new Audio('audio/d.wav');
                } else if ($scope.notesName == 'd#') {
                    sound = new Audio('audio/dsharp.wav');
                } else if ($scope.notesName == 'e') {
                    sound = new Audio('audio/e.wav');
                } else if ($scope.notesName == 'f') {
                    sound = new Audio('audio/f.wav');
                } else if ($scope.notesName == 'f#') {
                    sound = new Audio('audio/fsharp.wav');
                } else if ($scope.notesName == 'g') {
                    sound = new Audio('audio/g.wav');
                } else if ($scope.notesName == 'g#') {
                    sound = new Audio('audio/gsharp.wav');
                } else if ($scope.notesName == 'a') {
                    sound = new Audio('audio/a.wav');
                } else if ($scope.notesName == 'a#') {
                    sound = new Audio('audio/asharp.wav');
                } else if ($scope.notesName == 'b') {
                    sound = new Audio('audio/b.wav');
                } else {

                }
                return sound;
            }
        };

    </script>

</body>

</html>
