<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body ng-app="musicCollab" ng-cloak>
    <div ng-controller="AppCtrl" ng-cloak>

        <!-- Play Forward Rewind -->
        <md-grid-list md-cols-xs="3" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3" md-row-height-gt-md="2:1" md-row-height="1:1" md-gutter="12px" md-gutter-gt-sm="1px">

            <md-grid-tile class="white">
                <ng-md-icon icon="fast_rewind" style="fill: pink" size="100"></ng-md-icon>
            </md-grid-tile>

            <md-grid-tile class="white">
                <ng-md-icon icon="play_circle_outline" style="fill: pink" size="100" ng-click="playAudio()"></ng-md-icon>
            </md-grid-tile>

            <md-grid-tile class="white">
                <ng-md-icon icon="fast_forward" style="fill: pink" size="100"></ng-md-icon>
            </md-grid-tile>



        </md-grid-list>

        <md-slider-container style="margin: 30px;" flex>
            <md-input-container>
                <input flex type="number" ng-model="vol" aria-label="tempo" aria-controls="volume-slider">
            </md-input-container>
            <md-slider ng-model="vol" min="0.5" max="10" aria-label="tempo" id="volume-slider" class="md-accent" md-horizontol md-range></md-slider>
            <h5>Tempo</h5>
        </md-slider-container>
        <!-- Block Layers -->
        <md-grid-list ng-repeat="layer in layers track by $index" md-cols-xs="{{noBlocksInLayer}}" md-cols-sm="{{noBlocksInLayer}}" md-cols-md="{{noBlocksInLayer}}" md-cols-gt-md="{{noBlocksInLayer}}" md-row-height-gt-md="1.5:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="1px">
            <md-grid-tile ng-repeat="block in layer.blocks track by $index" ng-class="block">
            </md-grid-tile>
        </md-grid-list>

        <md-grid-list ng-if="justAdded==true" md-cols-xs="{{noBlocksInLayer}}" md-cols-sm="{{noBlocksInLayer}}" md-cols-md="{{noBlocksInLayer}}" md-cols-gt-md="{{noBlocksInLayer}}" md-row-height-gt-md="1.5:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="1px">
            <md-grid-tile ng-repeat="block in currentLayer.blocks track by $index" ng-class="block" ng-click="showTabDialog($event, $index)">
            </md-grid-tile>
        </md-grid-list>

        <!-- Add/Submit Button -->
        <ng-md-icon icon="add_circle_outline" style="fill: pink" size="100" layout="row" layout-align="center" ng-if="justAdded==false" ng-click="addLayer()"></ng-md-icon>
        <ng-md-icon icon="file_upload" style="fill: pink" size="100" layout="row" layout-align="center" ng-if="justAdded==true" ng-click="submitLayer()"></ng-md-icon>

    </div>


    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>


    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>

    <!-- Your application bootstrap  -->
    <script type="text/javascript">
        angular.module('musicCollab', ['ngMaterial', 'ngMdIcons'])
            .controller('AppCtrl', function($scope, $mdDialog) {
                $scope.vol = 1;
                $scope.noBlocksInLayer = 5;
                $scope.justAdded = false;
                $scope.layers = [];
                $scope.currentLayer = [];

                <!-- Adds a layer of blocks -->
                $scope.addLayer = function() {
                    var blocks = new Array($scope.noBlocksInLayer);
                    var notes = new Array($scope.noBlocksInLayer);
                    for (var i = 0; i < blocks.length; i++) {
                        blocks[i] = "red";
                        notes[i] = new Audio('audio/silent.wav');
                    }
                    $scope.currentLayer = {
                        blocks: blocks,
                        notes: notes
                    };
                    $scope.justAdded = true;
                };

                <!-- Submits a layer of blocks(changes can no longer be made) -->
                $scope.submitLayer = function() {
                    $scope.layers.push($scope.currentLayer);
                    $scope.currentLayer = [];
                    $scope.justAdded = false;
                };

                $scope.playAudio = function() {
                    console.log($scope.vol);
                    for (var i = 0; i < $scope.currentLayer.notes.length; i++) {
                        $scope.currentLayer.notes[i].playbackRate = $scope.vol;
                    }

                    $scope.currentLayer.notes[0].play();
                    for (var i = 0; i < $scope.currentLayer.notes.length - 1; i++) {
                        addEndListener(i);
                    }
                };

                function addEndListener(index) {
                    $scope.currentLayer.notes[index].addEventListener('ended', function() {
                        $scope.currentLayer.notes[index + 1].play();
                    });
                }

                <!-- Shows Popup to edit block -->
                $scope.showTabDialog = function(ev, index) {
                    $mdDialog.show({
                            controller: editBlockController,
                            templateUrl: '/html/editBlock.html',
                            parent: angular.element(document.body),
                            targetEvent: ev,
                            clickOutsideToClose: false
                        })
                        .then(function(response) {
                            if (response.color != "none") {
                                $scope.currentLayer.blocks[index] = response.color;
                            }
                            $scope.currentLayer.notes[index] = response.sound;
                        });
                };

                <!-- Controller for edit block popup -->
                function editBlockController($scope, $mdDialog) {
                    $scope.color = "none";
                    $scope.sound = "none";

                    $scope.select = function(color, sound) {
                        $scope.color = color;
                        $scope.sound = sound;
                    };

                    $scope.cancel = function() {
                        $mdDialog.cancel();
                    };

                    $scope.save = function() {
                        if ($scope.sound == "none") {
                            $mdDialog.hide({
                                color: $scope.color,
                                sound: new Audio('audio/silent.wav')
                            });
                        };
                        if ($scope.sound == 1) {
                            $mdDialog.hide({
                                color: $scope.color,
                                sound: new Audio('audio/sound1.wav')
                            });
                        };
                        if ($scope.sound == 2) {
                            $mdDialog.hide({
                                color: $scope.color,
                                sound: new Audio('audio/sound2.wav')
                            });
                        };
                        if ($scope.sound == 3) {
                            $mdDialog.hide({
                                color: $scope.color,
                                sound: new Audio('audio/sound3.wav')
                            });
                        };
                        if ($scope.sound == 4) {
                            $mdDialog.hide({
                                color: $scope.color,
                                sound: new Audio('audio/sound4.wav')
                            });
                        };
                        if ($scope.sound == 5) {
                            $mdDialog.hide({
                                color: $scope.color,
                                sound: new Audio('audio/sound5.wav')
                            });
                        };
                        if ($scope.sound == 6) {
                            $mdDialog.hide({
                                color: $scope.color,
                                sound: new Audio('audio/sound6.wav')
                            });
                        };
                        if ($scope.sound == 7) {
                            $mdDialog.hide({
                                color: $scope.color,
                                sound: new Audio('audio/sound7.wav')
                            });
                        }
                    };
                };
            });

    </script>

</body>

</html>
