 md-grid-list {
     margin: 8px;
 }
 
 .gray {
     background: #f5f5f5;
 }
 
 .green {
     background: #b9f6ca;
 }
 
 .yellow {
     background: #FFFF00;
 }
 
 .blue {
     background: #84ffff;
 }
 
 .purple {
     background: #b388ff;
 }
 
 .red {
     background: #ff8a80;
 }
 
 .darkred {
     background: #FF0000;
 }
 
 .redOrange {
     background: #FF4500;
 }
 
 .orangeYellow {
     background: #FFD700;
 }
 
 .blueGreen {
     background: #ADD8E6;
 }
 
 .bluePurple {
     background: #DA70D6;
 }
 
 .lightPurple {
     background: #FF00FF;
 }
 
 .orange {
     background: #ffa500;
 }
 
 .indigo {
     background: #9932CC;
 }
 
 .brown {
     background: #f4a460;
 }
 
 md-grid-tile {
     transition: all 400ms ease-out 50ms;
 }
