<li class="list-group-item" style="background: #2a2a2a; color: #ccc; border-color:black;">
    <div class="row text-center" id="dropdown-detail-1" data-toggle="detail-1" style="height: 70px;">
        <div class="col-xs-2 align-middle" style="height: 100%;">
            <div class="row">
                <span id="voteUp" class="fa fa-chevron-up vote-buttons" aria-hidden="true"></span>
                <h5 id="voteAmount">{{voteAmount}}</h5>
                <span id="voteDown" class="fa fa-chevron-down vote-buttons" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-xs-10 text-left align-middle" style="height: 100%;">
            <table style="height: 100%;">
                <tbody>
                    <tr>
                        <td class="align-middle">
                            <h5><b>{{username}}</b> added {{blocksAmount}} blocks</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</li>