<li class="list-group-item">
    <div class="row text-center" id="dropdown-detail-1" data-toggle="detail-1">
        <div class="col-xs-2">
            <div class="row">
                <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                <h5>0</h5>
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-xs-10 text-left">
            <h5><a>{{username}}</a> added {{blocksAmount}} blocks</h5>
            <small>{{time}}</small>
        </div>
    </div>
</li>