<a class="item buffer" draggable="true">
	{{> gsuiWaveform }}
    <div>
        <div class="info text-overflow">
            <i class="icon fw"></i>
            <span class="name">{{ name }}</span>
        </div>
        <div class="keyDetails" style="position: relative; color: gray; font-size: 0.7em;">
            Right click to assign a key
        </div>
    </div>
</a>
