<li class="list-group-item">
    <div class="row text-center" id="dropdown-detail-1" data-toggle="detail-1">
        <div class="col-xs-2">
            <div class="row">
                <span id="voteUp"  class="fa fa-chevron-up vote-buttons" aria-hidden="true"></span>
                <h5 id="voteAmount">{{voteAmount}}</h5>
                <span id="voteDown" class="fa fa-chevron-down vote-buttons" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-xs-10 text-left">
            <h5><b>{{username}}</b> added {{blocksAmount}} blocks</h5>
        </div>
    </div>
</li>