<section id="files">
    <div class="panel panel-default" style="height: 50%; overflow-y: scroll; margin: 0px; background: #4b4b4b; border-width: 0px;">
        <div class="panel-heading text-center" style="background: #3e3e3e">
            <a>
                <h4 class="panel-title">Recent Changes</h4>
            </a>
        </div>
        <ul id="changesList" class="list-group">
        </ul>
    </div>
    <div class="panel panel-default" style="height: 50%; overflow-y: scroll; margin: 0px; background: #4b4b4b; border-width: 0px;">
        <div class="panel-heading text-center" style="background: #3e3e3e">
            <a>
                <h4 class="panel-title">Sounds</h4>
            </a>
        </div>
        <input id="filesInput" type="file" />
        <div id="filesCursor" class="cursor"></div>
        <nav id="filesFilters">
            <i class="icon file-audio"></i>
            <b>&nbsp Drop audio files here </b>
            <!--
<a href="#" class="used">Used</a>
<a href="#" class="loaded">Loaded</a>
<a href="#" class="unloaded">Unloaded</a>
-->
        </nav>
        <div id="filesList" class="list" span="100"></div>
    </div>
</section>
