<div id="save" class="border">
	<span data-edit="save" class="btn2 inshadow icon fw save" title="Save (Ctrl + S)"></span>
	<input id="saveCheckbox" type="checkbox"/>
	<label for="saveCheckbox"mak></label>
	<div class="dropdown">
		<div class="title">Current composition :</div>
		<a href="#" id="exportToWaveFile">Export to Wave file</a>
		<div class="title">All compositions :</div>
		<div class="list"></div>
	</div>
</div>
