<link rel="stylesheet" href="https://bootswatch.com/cyborg/bootstrap.min.css"/>

<div class="row" style="height: 100%;">
    <div class="col-xs-6 bg-overlay-one ">
        <div class="wrapper">
            <div class="vertical-center">
                    <br>
                    <h3 class="text-center">Want to join a house with existing housemates?</h3> <br>
                    <button class="btn btn-primary" ng-click="switchState('join')">Join A House</button>
                    <br>
            </div>
        </div>
    </div>
    <div class="col-xs-6 bg-overlay-two">
        <div class="wrapper">
            <div class="vertical-center">
                <br>
                <h3>Need to find more housemates for your house?</h3><br>
                <button class="btn btn-primary" ng-click="switchState('build')">List A House</button>
                <br>
            </div>
        </div>
    </div>
</div>
