<div class="chat_window">
    <div class="top_menu">
        <div class="buttons">
            <div class="button close" ng-click="closeChat()">
            </div>
        </div>
        <div class="title">{{chatTitle}}</div>
    </div>

    <ul class="messages" scroll-glue="true">
        <li class="message right appeared" ng-repeat='message in messages track by $index'>
            <span class="chat-name">{{messages[$index].author.name.first}}</span>
            <div>
                <div class="avatar"> <img ng-src="{{'https://storage.googleapis.com/mates-web-image-bucket/' +messages[$index].author._id+ '.jpg'}}" class="img-circle profile-picture-style" style="height: 100%; width: 100%;" onerror="this.src='images/profile_picture_placeholder.png';" /></div>
                <div class="text_wrapper">
                    <div class="text">{{messages[$index].body}}</div>
                </div>
            </div>
        </li>
    </ul>
    <div class="bottom_wrapper">
        <div class="message_input_wrapper">
            <input class="message_input" placeholder="Type your message here..." ng-model="messageToSend" ng-keyup="$event.keyCode == 13 && messageToSend != null && sendMessage()" />
        </div>
    </div>
</div>