<div class="row" style="margin-top: 20px;">
    <div class="col-sm-4 col-sm-offset-2">
        <h3 class="media-heading" class="col-sm-offset-2">Welcome back {{user.name.first}}!</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Invites</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <a class="list-group-item" ng-repeat="offer in offers">
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">{{offer.offeror.creator.name.first}} {{offer.offeror.creator.name.last}} has invited you to join a mateslist</span><br/>
                            <button class="btn btn-primary btn-sm" ng-click="view(offer.offeror._id, offer._id)">View
                            </button>
                            <button class="btn btn-warning btn-sm" ng-click="ignoreUserOffer(offer.offeror._id)">
                                Ignore
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </a>

                </ul>
                <small ng-if="offers.length==0">You have not yet been invited to join a MatesList</small>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Interests</h3>
            </div>
            <div class="panel-body">

                <ul class="list-group">
                    <a class="list-group-item" ng-repeat="request in matesListRequests">
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">{{request.offeror.name.first}} {{request.offeror.name.last}} has requested to join your mateslist</span><br/>
                            <button class="btn btn-primary btn-sm" ng-click="acceptUserOffer(request._id)">Accept
                            </button>
                            <button class="btn btn-warning btn-sm" ng-click="ignoreMatesListOffer(request._id)">Ignore
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </a>

                </ul>


                <small ng-if="matesListRequests.length==0">You do not have any new request for your MatesList</small>
            </div>
        </div>


    </div>
    <div class="col-sm-4">

        <!-- list you're part off -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Groups I'm part off</h3>
            </div>
            <div class="panel-body">
                <div class="row " ng-repeat="matesList in matesLists"
                     style="padding: 10px; border-radius: 10px;">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-8">
                                <img style="margin-bottom:5px;" ng-repeat="user in matesList.members"
                                     ng-src="{{'https://storage.googleapis.com/mates-web-image-bucket/' +user._id+ '.jpg'}}"
                                     class="img-circle profile-picture-style small"
                                     onerror="this.src='images/profile_picture_placeholder.png';"/>
                            </div>
                            <div class="col-sm-2" style="width: 100%">
                                <button class="btn btn-primary btn-xs" 
                                        ng-click="openMessageBox(matesList._id)">Message
                                </button>
                                <button class="btn btn-primary btn-xs" 
                                        ng-click="viewMyMatesList(matesList._id)">View
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <small ng-if="matesLists.length==0">You are not part of any mateslist yet</small>
            </div>
        </div>

    </div>
</div>

<div class="container" ui-view="chat_view"></div>
