<md-dialog aria-label="editBlock" style="width:50%">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Block Edit</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Basic">
                    <md-content class="md-padding">
                        <md-grid-list md-cols-xs="7" md-cols-sm="7" md-cols-md="7" md-cols-gt-md="7" md-row-height-gt-md="1.5:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="1px">

                            <md-grid-tile class="darkred" ng-click="select('darkred', 1)">
                                <h2 style="color:white;">C</h2>
                            </md-grid-tile>
                            <md-grid-tile class="orange" ng-click="select('orange', 2)">
                                <h2 style="color:white;">D</h2>
                            </md-grid-tile>
                            <md-grid-tile class="yellow" ng-click="select('yellow', 3)">
                                <h2 style="color:white;">E</h2>
                            </md-grid-tile>
                            <md-grid-tile class="green" ng-click="select('green', 4)">
                                <h2 style="color:white;">F</h2>
                            </md-grid-tile>
                            <md-grid-tile class="blue" ng-click="select('blue', 5)">
                                <h2 style="color:white;">G</h2>
                            </md-grid-tile>
                            <md-grid-tile class="indigo" ng-click="select('indigo', 6)">
                                <h2 style="color:white;">A</h2>
                            </md-grid-tile>
                            <md-grid-tile class="purple" ng-click="select('purple', 7)">
                                <h2 style="color:white;">B</h2>
                            </md-grid-tile>
                        </md-grid-list>
                    </md-content>
                </md-tab>
                <md-tab label="Advanced">
                    <md-content class="md-padding">
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="answer()">
                Save
            </md-button>
            <md-button ng-click="cancel()" style="margin-right:20px;">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
