<md-dialog aria-label="editBlock" style="width:50%">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Block Edit</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <!-- First Tab -->
                <md-tab label="Basic">
                    <md-content class="md-padding">
                        <!-- Blocks of musical notes -->
                        <md-grid-list md-cols-xs="7" md-cols-sm="7" md-cols-md="7" md-cols-gt-md="7" md-row-height-gt-md="1.5:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="1px">
                            <md-grid-tile class="darkred" ng-click="select('darkred')">
                                <h2 style="color:white;">C</h2>
                            </md-grid-tile>
                            <md-grid-tile class="orange" ng-click="select('orange')">
                                <h2 style="color:white;">D</h2>
                            </md-grid-tile>
                            <md-grid-tile class="yellow" ng-click="select('yellow')">
                                <h2 style="color:white;">E</h2>
                            </md-grid-tile>
                            <md-grid-tile class="green" ng-click="select('green')">
                                <h2 style="color:white;">F</h2>
                            </md-grid-tile>
                            <md-grid-tile class="blue" ng-click="select('blue')">
                                <h2 style="color:white;">G</h2>
                            </md-grid-tile>
                            <md-grid-tile class="indigo" ng-click="select('indigo')">
                                <h2 style="color:white;">A</h2>
                            </md-grid-tile>
                            <md-grid-tile class="purple" ng-click="select('purple')">
                                <h2 style="color:white;">B</h2>
                            </md-grid-tile>
                        </md-grid-list>

                        <md-slider-container flex>
                            <md-input-container>
                                <input flex type="number" ng-model="vol" aria-label="volume" aria-controls="volume-slider">
                            </md-input-container>
                            <md-slider ng-model="vol" min="0" max="100" aria-label="volume" id="volume-slider" class="md-accent" md-horizontal md-range></md-slider>
                            <h5>Volume</h5>
                        </md-slider-container>
                    </md-content>
                </md-tab>
                <!-- Second Tab -->
                <md-tab label="Advanced">
                    <md-content class="md-padding">
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="save()">
                Save
            </md-button>
            <md-button ng-click="cancel()" style="margin-right:20px;">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
