<div class="row  text-center">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">My Mateslists</div>
            <div class="panel-body">
                <div
                     class="row well"
                     style="background-color: white"
                     ng-repeat="matesListWrapper in myMatesList track by matesListWrapper._id"
                     data-drop="true"
                     data-jqyoui-options
                     ng-model="matesListWrapper.userToAdd"
                     jqyoui-droppable="{onDrop: 'onDrop(matesListWrapper)'}">

                    <div class="row">

                        <div class="col-sm-3" ng-repeat="userWrapper in matesListWrapper.matesList.members">
                            <p>{{userWrapper.user.name.first}}</p>
                            <p><img src="images/tunde.jpg" class="img-circle" height="55" width="55" alt="Avatar"></p>

                        </div>
                        <div class="col-sm-3">
                            <p>Chat</p>
                            <p>
                                <button type="button" ng-click="showChat(matesListWrapper.matesList._id)"
                                        class="btn btn-primary btn-circle btn-xl"><i class="glyphicon glyphicon-envelope"></i>
                                </button>
                        </div>

                    </div>

                    <hr style="margin-bottom: 0px"/>



                </div>
            </div>
        </div>


    </div>
    <div class="col-sm-8">


        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#create" data-toggle="tab" aria-expanded="true">Create</a></li>
            <li class=""><a href="#join" data-toggle="tab" aria-expanded="false">Join</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="create">
                <p>
                    <div>
                        <div class="row" ng-repeat="user in users track by $index" ng-if="$index % 4 == 0">
                            <div class="col-xs-3 letter-box"
                                 ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]"
                                 ng-if="users[i] != null">
                                <div class="well profile cursor-style"
                                     data-drag="true"
                                     data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                                     jqyoui-draggable="{placeholder:'keep'}"
                                     ng-model="users[i]"
                                     ng-click="showUserModal(users[i])">
                <p>{{users[i].name.first}}</p>
                <img src="images/tunde.jpg" class="img-circle" height="55" width="55" alt="Avatar">

            </div>

        </div>

    </div>
    <ul class="pagination">


    <!--<p><a href="#">SUGGESTED</a></p>-->
    <!--<div class="col-xs-3 letter-box" ng-repeat="user in suggestedUsers track by user._id"></p>-->
    <!--<div class="well profile cursor-style"-->
    <!--data-drag="true"-->
    <!--data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"-->
    <!--jqyoui-draggable="{placeholder:'keep'}"-->
    <!--ng-model="users[i]"-->
    <!--ng-click="showUserModal(users[i])">-->
    <!--<p>{{user.name.first}}</p>-->
    <!--<img src="images/tunde.jpg" class="img-circle" height="55" width="55" alt="Avatar">-->
    <!--</div>-->
    <!--</div>-->
</div>
</p>
</div>
<div class="tab-pane fade" id="join">
    <div class="list-group">
        <div ng-repeat="mates_list in publicMatesList">
            <div class="list-group-item well" style="margin-bottom: 20px;overflow: auto;">
                <div class="row-content">
                    <div class="row">
                        <div ng-repeat="mate in mates_list.members track by $index">
                            <div class="col-sm-2">
                                <p>{{mate.user.name.first}}</p>
                                <p><img src="images/tunde.jpg" class="img-circle" height="55" width="55" alt="Avatar">
                                </p></div>
                        </div>
                        <!--<div class="col-sm-3">-->
                        <!--<p style="color: white">+</p>-->
                        <!--<button type="button"-->
                        <!--class="btn btn-primary btn-circle btn-xl"><i class="glyphicon glyphicon-plus"></i>-->
                        <!--</button>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-separator"></div>
    </div>



</div>
</div>


</div>

</div>
</div>

